name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"]  # This triggers the ACTUAL deployment only after merge
  pull_request:         # This tests the build; if it fails, don't merge!
  workflow_dispatch:    # Allows you to run it manually
  
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true # changed from recursive to true
          fetch-depth: 0
          
      - name: Setup Pages
        uses: actions/configure-pages@v5
        
      - name: Download Theme Manually
        run: |
          mkdir -p themes/PaperMod
          curl -L https://github.com/adityatelange/hugo-PaperMod/archive/refs/heads/master.tar.gz | tar -xz -C themes/PaperMod --strip-components=1
          
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true
          
      - name: Build with Hugo        
        run: hugo --minify
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
